@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
body {
  font-family: "Open Sans", serif;
}

.scrolled-navbar {
  background-color: white;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.navbar
.navbar-collapse
.navbar-nav
.nav-item
.nav-link.main-link.scrolled-nav-link {
  color: #397cbb !important;
}

section {
  padding: 5rem 0 0 0;
}

h3 {
  text-align: center;
  font-family: "Lora", serif;
  letter-spacing: 0.15rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
}

hr {
  width: 250px;
}

.navbar {
  opacity: 0;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar .nav-item {
  padding: 0 1.3rem;
}

.navbar .nav-item .nav-link {
  color: white !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/marine_venus_side_view.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-title {
  color: white;
  text-align: center;
  font-family: "Lora", serif;
  opacity: 0;
  position: relative;
  top: 50px;
}

.hero .hero-title h1 {
  font-size: 4.5rem;
}

.hero .hero-title p {
  font-size: 1.5rem;
  font-style: italic;
}

#specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#specs .specs-btn-p-element {
  padding: 0 0 1rem 0;
}

#specs .specs-btn {
  background: #397cbb;
  border: 1px solid #f0f0f0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  padding: 0.8rem 1.5rem;
}

#specs .specs-btn:focus {
  outline: none;
}

#specs p {
  max-width: 800px;
  padding: 10px 0;
  text-align: center;
}

#specs .card {
  max-width: 800px;
  margin: 0 auto;
}

#specs .card .table td {
  text-align: right;
}

#gallery .card img {
  border-radius: 2px;
}

#charter p {
  text-align: center;
  padding-bottom: 1rem;
}

#charter .container-fluid {
  background: url("../images/charter_background.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#charter .container-fluid a img {
  margin-bottom: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#charter .container-fluid a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#charter .container-fluid a i {
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#charter .container-fluid a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#charter .container-fluid p {
  color: white;
  font-weight: 600;
}

#about ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#about ul li {
  padding: 1.3rem 0;
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

#about ul li a {
  text-decoration: none;
  color: #397cbb;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact img {
  max-width: 400px;
  border-radius: 2px;
  margin-bottom: 1.5rem;
}

#contact h4 {
  font-family: "Lora", serif;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#contact a {
  color: #393939;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0.5rem;
}

#contact a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact p {
  font-size: 1.1rem;
}

#footer {
  margin-bottom: 3rem;
}

#footer .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
}

#footer .credits {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */