.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/marine_venus_side_view.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-title {
    text-align: center;
  }
}
