@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

// General Styles
.colored {
  background-color: rgba(104, 104, 104, 0.5);
  transition: 600ms;
}

section {
  padding: 4rem 0;
}

// Navbar
.navbar {
  opacity: 0;

  .navbar-toggler:focus {
    outline: none;
  }

  .nav-item {
    padding: 0 1.3rem;

    .nav-link {
      color: white !important;
      font-family: "Open Sans", serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
  }
}

// Hero
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/marine_venus_side_view.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-title {
    color: white;
    text-align: center;
    font-family: "Lora", serif;
    opacity: 0;
    position: relative;
    top: 50px;

    h1 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
}

// Specs
#specs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .table {
    max-width: 800px;
    td {
      text-align: right;
    }
  }
}

// About
#about {
  ul {
    list-style: none;
    text-align: center;
    padding: 3rem 0;

    li {
      padding: 2rem 0;
      font-family: "Lora", serif;
      font-size: 1.5rem;

      a {
        text-decoration: none;
      }
    }

    hr {
      width: 300px;
    }
  }
}
