@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/marine_venus_side_view.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-title {
    color: white;
    text-align: center;
    font-family: "Lora", serif;
    opacity: 0;
    position: relative;
    top: 100px;

    h1 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
}
